[user]
    name = **edit here**
    mail = **edit here**
    email = **edit here**

[core]
    editor = vim
    autocrlf = true
    filemode = false
    #excludesfile = **edit here**
    #less -FXRS -x4
    pager = diff-so-fancy | tr -d '\\r' | less -FRX --chop-long-lines
    longpaths = true'
    attributesfile = **edit here**
    
#[http]
    #sslcainfo=C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
    #sslbackend=schannel

[alias]
    logf  = log --pretty=format:'%C(bold yellow)%h%C(reset) %C(bold magenta)(%cd)%C(reset) %C(bold green)%d%Creset %s %C(bold cyan)<%ae>%Creset' --abbrev-commit --date=iso 
    logfa = log --pretty=format:'%C(bold yellow)%h%C(reset) %C(bold magenta)(%cd)%C(reset) %C(bold green)%d%Creset %s %C(bold cyan)<%ae>%Creset' --abbrev-commit --date=iso --branches
    logg  = log --graph --pretty=format:'%C(bold yellow)%h%C(reset) %C(bold magenta)(%cd)%C(reset) %C(bold green)%d%Creset %s %C(bold cyan)<%ae>%Creset' --abbrev-commit --date=iso --branches
    st = status -s
    stu = status -s --untracked-files=all
    showcomm = show --pretty=\"format:\" --name-only
    pullra = pull --rebase --all   
    ignored = !git ls-files -v | egrep '^S|^h'
    mydiff = diff --ignore-space-change --ignore-space-at-eol
    showtree = ls-tree -r --name-only
    uisw = update-index --skip-worktree
    uinsw = update-index --no-skip-worktree
    uiau = update-index --assume-unchanged
    uinau = update-index --no-assume-unchanged
    staash = stash --include-untracked
    cloner = clone --recurse-submodules -j8
    sui = submodule update --init
    topten = !git log --pretty=format: --name-only | grep -E '\\.cs$' | sort | uniq -c | sort -rg | head -10

[merge]
    tool = kdiff3NoAuto
    conflictstyle = diff3

[diff]
    guitool = kdiff3

[diff "utf16"]
    textconv = "iconv -f utf-16 -t utf-8"

[difftool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe

[push]
    default = simple

[mergetool "kdiff3NoAuto"]
    cmd = C:/Program\\ Files/KDiff3/kdiff3.exe --L1 \"$MERGED (Base)\" --L2 \"$MERGED (Local)\" --L3 \"$MERGED (Remote)\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false

[rerere]
    enabled = 0
    

[interactive]
    diffFilter = diff-so-fancy --patch
